# DEBUG
DEBUG=True

# SECRET KEY
SECRET_KEY=<YOUR SECRET KEY>

# SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
DEFAULT_FROM_EMAIL=<youremail@gmail.com>
EMAIL_USE_TLS=True

# SESSION 
SESSION_ENGINE=django.contrib.sessions.backends.db
SESSION_COOKIE_NAME=sessionid
SESSION_COOKIE_SECURE=False  # Set to True if using HTTPS, otherwise False for local development
SESSION_COOKIE_AGE=1209600  # 2 weeks, or adjust as needed
SESSION_EXPIRE_AT_BROWSER_CLOSE=False  # Keeps session open after browser close if False

# EMAIL
EMAIL_ID=<youremail@gmail.com>
EMAIL_PASSWORD=<yourstrongpassword>

# DB
DATABASE_NAME=<your database name>
DATABASE_USER=<your database username>
DATABASE_PASSWORD=<your database password>
DATABASE_HOST=localhost
DATABASE_PORT=5432 # change if needed