/* Promo navber */
  .navbar {
    background: radial-gradient(circle at right, #0b1c3a 0%, #000000 55%); /* dark teal shades */
    color: white;
  }
  .navbar .nav-link {
    color: white !important;
    font-weight: 500;
  }
  .navbar .nav-link:hover {
    color: #2563eb !important;
    text-decoration: none;
  }
  .navbar .title {
    color: white;
    font-weight: bold;
    padding-right: 1rem;
  }
  .promo-text {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
    min-width: 200px;
    display: inline-block;
    padding: 5px 10px;
  }